<ion-header>
    <ion-toolbar color="wine">
      <ion-buttons slot="start">
        <ion-back-button color="light"></ion-back-button>
      </ion-buttons>
      <ion-title color="light">3° Marketing</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row class="header">
        <ion-col>
          Horário
        </ion-col>
        <ion-col size="9">
          Matérias
        </ion-col>
      </ion-row>
  
  
      <ion-row>
        <ion-col>
          19:10
        </ion-col>
        <ion-col>
          Matemática Financeira
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          20:45
        </ion-col>
        <ion-col>
          INTERVALO
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          21:10
        </ion-col>
        <ion-col>
          Linguagem, Trabalho e tecnologia
        </ion-col>
      </ion-row>
  
    </ion-grid>
  </ion-content>