<ion-header>
    <ion-toolbar color="wine">
      <ion-buttons slot="start">
        <ion-back-button color="light"></ion-back-button>
      </ion-buttons>
      <ion-title color="light">1° integrado</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row class="header">
        <ion-col>
          Horário
        </ion-col>
        <ion-col size="9">
          Matérias
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-grid>
        <ion-row>
          <ion-col>
                  07:10
          </ion-col>
          <ion-col>
                  Matemática
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                    08:00
            </ion-col>
            <ion-col>
                    Português
            </ion-col>
          </ion-row>

          <ion-row>
              <ion-col>
                      08:50
              </ion-col>
              <ion-col>
                  Biologia
              </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                        09:40
                </ion-col>
                <ion-col>
                      INTERVALO
                </ion-col>
              </ion-row>
  
              <ion-row>
                  <ion-col>
                          10:00
                  </ion-col>
                  <ion-col>
                      Segurança digital
                  </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                            11:40
                    </ion-col>
                    <ion-col>
                        Banco de Dados
                    </ion-col>
                  </ion-row>

                  <ion-row>
                      <ion-col>
                              12:30
                      </ion-col>
                      <ion-col>
                          INTERVALO
                      </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                                13:10
                        </ion-col>
                        <ion-col>
                            Ética
                        </ion-col>
                      </ion-row>

                      <ion-row>
                          <ion-col>
                                  14:00
                          </ion-col>
                          <ion-col>
                              Geografia
                          </ion-col>
                        </ion-row>
        </ion-grid>
  
        <ion-row class="header">
            <ion-col>
              CALENDARIO DE PROVAS
            </ion-col>          
          </ion-row>
          <br />
          <ion-row class="header">
              <ion-col>
                Segunda feira 17/06
              </ion-col>                       
            </ion-row>
  
            <ion-row>              
                <ion-col>
                    Segurança Digital
                </ion-col>
                <ion-col>
                    8:50
            </ion-col>
              </ion-row>
  
              <ion-row>              
                  <ion-col>
                      Matemática
                  </ion-col>
                  <ion-col>
                      14:00
              </ion-col>
                </ion-row>
  
                <br />
  
                <ion-row class="header">
                    <ion-col>
                      Terça feira 18/06
                    </ion-col>                       
                  </ion-row>
        
                  <ion-row>              
                      <ion-col>
                          Português
                      </ion-col>
                      <ion-col>
                          7:10
                  </ion-col>
                    </ion-row>
  
  
  </ion-content>