<ion-header>
  <ion-toolbar color="wine">
    <ion-title color="light">
      Eventos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="dark">Arraiar da Navar</ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content>
      <img routerLink="/welcome" src="http://www.s2noticias.com.br/arquivos/noticias/4652/9e90d1b6cfa3f77ccd1c93bdfcc88af0.jpg" /><br />
      <p>
        Uma festa em que geral vai lá só pra se pegar, se comer, ficar bebados, passar vergonha, engravidar menores de
        idade, onde os otakus ficam solteiros num canto sem sem ir em cima de ninguém segurando vela, ou levando sua
        fiel
        namorada(boneca de plástico) ...
      </p>
      <ion-button>
        Leia Mais
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="dark">Show de talentos</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img src="http://www.anglosorocaba.com.br/shared/upload/fund2_projetos/37_1273_7679.jpg" /><br />
      <p>
        Evento que ocorre para que o povo novo pense que a escola é menos ruim do que parece, além de colocar no palco
        um bando de gente exibida que pensa ter algum talento mas que na real não sabe nem fazer miojo nem ovo frito.
        ...
      </p>
      <ion-button>
        Leia Mais
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-header>
        <ion-card-subtitle color="dark">Bingo</ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content>
        <img src="https://previews.123rf.com/images/sid10/sid101609/sid10160900006/66717490-vector-colorful-bingo-lottery-number-balls-colored-balls-isolated-bingo-ball-bingo-balls-with-number.jpg" /><br />
        <p>
          Jogo de véio que dá prêmios para público jovem, além de dar felicidade po gallo ...
        </p>
        <ion-button>
          Leia Mais
        </ion-button>
      </ion-card-content>
    </ion-card>
</ion-content>