.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.icon{
  background-color: #eee;
  border-radius: 5px;
  padding: 4px auto;
  height: 50px
}
ion-title{
  text-align: center
}

.imagem{
  object-fit: cover;
  height: 150px;
}