<ion-header>
  <ion-toolbar color="wine">
    <ion-title color="light">
      Cursos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  
  <ion-card color="dark">
    <ion-list>
      <ion-list-header routerLink="/medio" color="dark">
        <ion-label>Ensino Médio</ion-label>
      </ion-list-header>
      <ion-list-header routerLink="/ativo" color="dark">
        <ion-label>Ensino Técnico</ion-label>
      </ion-list-header>
      <ion-list-header routerLink="/aberto" color="dark">
        <ion-label>Em Aberto</ion-label>
      </ion-list-header>
    </ion-list>
  </ion-card>

  <ion-card padding>
    <h1 color="dark" class="ion-text-center">Etec Comendador João Rays</h1>
    <p class="ion-text-justify">R. Ludovico Victorio, 2140 - Vl. Habitacional<br />
      CEP 17340-000 - Barra Bonita/SP<br />
      Telefone: (14) 3641-1310<br />
      Telefone: (14) 3641-5600<br />
      E-mail: etecbarrabonita@etecbarrabonita.com.br<br />
      Site: www.etecbarrabonita.com.br</p>
  </ion-card>

</ion-content>