<ion-header>
  <ion-toolbar color="wine">
    <ion-title color="light">
      Cursos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="dark">
    <ion-list *ngFor="let forCurso of curso">
      <ion-list-header routerLink="/medio" color="dark">
        <ion-label>{{forCurso.nome}}</ion-label>
      </ion-list-header>
      </ion-list>
  </ion-card>

  <ion-card color="dark">
    <ion-list>
      <ion-list-header routerLink="/medio" color="dark">
        <ion-label>Ensino Médio</ion-label>
      </ion-list-header>
      <ion-list-header routerLink="/ativo" color="dark">
        <ion-label>Ensino Técnico</ion-label>
      </ion-list-header>
      <ion-list-header routerLink="/aberto" color="dark">
        <ion-label>Em Aberto</ion-label>
      </ion-list-header>
    </ion-list>
  </ion-card>

</ion-content>