<ion-header>
    <ion-toolbar color="wine">
      <ion-buttons slot="start">
        <ion-back-button color="light"></ion-back-button>
      </ion-buttons>
      <ion-title color="light">Ensino Técnico</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <ion-list>
        <ion-list-header color="dark">
          <ion-label>Marketing</ion-label>
        </ion-list-header>
        <ion-item routerLink="/terceiro-marketing">3º Modulo</ion-item>
      </ion-list>
    </ion-card>
  
    <ion-card>
      <ion-list>
        <ion-list-header color="dark">
          <ion-label>Secretariado</ion-label>
        </ion-list-header>
        <ion-item routerLink="/terceiro-secretariado">3º Modulo</ion-item>
      </ion-list>
    </ion-card>
  
    <ion-card>
      <ion-list>
        <ion-list-header color="dark">
          <ion-label>Desenvolvimento de Sistemas</ion-label>
        </ion-list-header>
        <ion-item routerLink="/primeiro-ds">1º Modulo</ion-item>
        <ion-item routerLink="/segundo-ds">2º Modulo</ion-item>
      </ion-list>
    </ion-card>
  
  </ion-content>