<ion-header>
    <ion-toolbar color="wine">
      <ion-buttons slot="start">
        <ion-back-button color="light"></ion-back-button>
      </ion-buttons>
      <ion-title color="light">Em aberto</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <ion-list>
        <ion-item color="dark">
          <ion-label routerLink="/secretariado-aberto">SECRETARIADO</ion-label>
        </ion-item>
        
        <ion-item color="dark">
          <ion-label routerLink="/marketing-aberto">MARKETING</ion-label>
        </ion-item>
        <ion-item color="dark">
          <ion-label routerLink="/dsaberto">DESENVOLVIMENTO DE SISTEMAS</ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  
  </ion-content>