<ion-header>
  <ion-toolbar color="wine">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Médio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-list-header color="dark">
        <ion-label>Ensino Médio Normal</ion-label>
      </ion-list-header>
      <ion-item routerLink="/primeiroNormal">1º Ano</ion-item>
      <ion-item routerLink="/segundoNormal">2º Ano</ion-item>
      <ion-item routerLink="/terceiroNormal">3º Ano</ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-list>
      <ion-list-header color="dark">
        <ion-label>Ensino Médio Integrado</ion-label>
      </ion-list-header>
      <ion-item routerLink="/primeiroIntegrado">1º Ano</ion-item>
      <ion-item routerLink="/segundoIntegrado">2º Ano</ion-item>
      <ion-item routerLink="/terceiroIntegrado">3º Ano</ion-item>
    </ion-list>
  </ion-card>

</ion-content>